*.aps
*.log
*.exe
*.so
*.dll
*.a
*.apk
*.o
Makefile
Makefile.*
*.rc
moc_*.cpp
ui_*.h
build-*
qrc_*.cpp
*.ncb
*.suo
*.ilk
*.obj
*.pch
*.pdb
*.res
*.tlh
*.tli
*.idb
*.ddp
*.MB
*.PX
*.tds
*.resources
*.~*
*.bsc
*.sbr
*.opt
*.str
*.Exe
*.ism
*.lib
*.pro.user*
*.pro.user
